/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: white;
}

.home {
  .logo {
    width: 500px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -250px 0 0 -250px;
  }
}


ul.social-icons {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 75px;
}

ul.social-icons li:last-child {
  margin: 0;
}

ul.social-icons li a {
  color: #424949;
}

ul.social-icons li a:hover {
  color: #3398CB;
}

nav {
  height: 40px;
  display: flex;
}

nav ul {
  margin-top: 0;
  margin-left: auto;
}

nav ul li {
 display: inline-block;
}

nav ul li:hover {
  background-color: #3398CB;
  a {
    color: white;
  }
}

nav ul li a {
  padding: 10px;
  color: #333;
  font-family: sans-serif;
  text-decoration: none;
  line-height: 40px;
}

a {
  color: #3398CB;
}

.sponsorship {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    .logo {
      width: 120px;
      height: 120px;
    }
  }
  section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    p {
      text-align: justify;
    }
  }
  table {
    width: 100%;
  }
  table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
  }
  td {
    padding: 10px;
    width: 50%;
  }
  thead {
    font-weight: bold;
    font-size: 30px;
  }
  .chart-wrapper {
    display: flex;
    justify-content: center;
    .chart {
      width: 50%;
    }
  }
}