html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: sans-serif;
}
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: white;
}

.home {
  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 100%;
    padding: 10px;
    .logo {
      max-width: 500px;
      width: 100%;
    }
  }
}

ul.social-icons {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
  padding: 0;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 75px;
  @media (max-width: 600px) {
    margin-right: 10px;
  }
}

ul.social-icons li:last-child {
  margin: 0;
}

ul.social-icons li a {
  color: #424949;
}

ul.social-icons li a:hover {
  color: #3398CB;
}

.wdt-leters {
  height: 20px;
  width: 46px;
  background-image: url('../public/WDT_vector.svg');
  background-position: center center;
  background-size: 100px 100px;
}

$navheight: 50px;
nav {
  min-height: $navheight;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  position: sticky;
  top: 0;
  background-color: white;
  overflow: hidden;
  align-items: stretch;
  @media (max-width: 600px) {
    height: auto;
  }
  ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    align-items: stretch;
    @media (max-width: 600px) {
      width: 100%;
      flex-direction: column;
    }
    li.home-li {
      background-color: rgb(26, 23, 23);
      &:hover {
        background-color: rgb(26, 23, 23);
      }
    }
    li {
      display: inline-flex;
      transition: background-color 0.3s;
      align-items: center;
      @media (max-width: 600px) {
        display: block;
        width: 100%;
      }
      a {
        box-sizing: border-box;
        padding: 10px;
        color: #333;
        font-family: sans-serif;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        @media (max-width: 600px) {
          line-height: initial;
        }
      }
    }
    li:hover {
      background-color: rgba(#3398CB, 90%);
      a {
        color: white;
      }
    }
  }
}

a {
  color: #3398CB;
}

.sponsorship {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    .logo {
      width: 120px;
      height: 120px;
    }
  }
  section {
    box-sizing: border-box;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    p {
      text-align: justify;
    }
  }
  table {
    width: 100%;
  }
  table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
  }
  td {
    padding: 10px;
    width: 50%;
  }
  thead {
    font-weight: bold;
    font-size: 30px;
  }
  .chart-wrapper {
    display: flex;
    justify-content: center;
    .chart {
      width: 50%;
    }
  }
}

.about {
  font-family: sans-serif;
  section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    p {
      text-align: justify;
    }
  }
}

.twoImages {
  display: flex;
  img {
    flex: 1;
    width: 50%;
  }
}

h1 {
  font-size: 40px;
}

.text-centered {
  text-align: center;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}